%h2 Main Page
%p
  The CreditCardAPI is up and running; API available at
  %a{href: '/api/v1'}
    "/api/v1"
%p
  %h4 API Services
  %ul
    %li
      %a{href: '/Validation'} Credit Card Validation
    %li
      %a{href: '/Retrieve'} Retrieve Credit Card Info
    %li
      %a{href: '/Store'} Store Credit Card
