%h2 Validate Your Credit Card
%form{:action => '/validate', :method => 'get', :id => 'valiadtion-form', class: 'form-horizontal'}
    .form-group
        %dl
            %dt
                %label{:for => 'username'} Username
            %dd
                %input{:type => 'text', :name => 'Credit Card Number', :id => 'creditCard_input'}
    .form-group
        %input{:type => 'submit', :id => 'validation-form-submit', :class => 'btn btn-default', :value => 'submit'}
