.flash.notice {
  color: #000000;
  background-color: rgba(13, 127, 51, 1);
  height: 30px;
  width: 250px;
  border-radius: 5px;
  font-family: Cursive;
  padding: 5px 0px 5px 5px;
  font-size: 16px;
}

.flash.error {
  color: #000000;
  background-color: rgba(204, 0, 0, 0.9);
  height: 30px;
  width: 250px;
  border-radius: 5px;
  font-family: Cursive;
  padding: 5px 0px 5px 5px;
  font-size: 16px;
}

.navbar.navbar-default {
  background-color: rgba(51, 204, 51, 0.7);
  font-family: Arial, sans-serif;
  color: #000000;
}
